@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #282A36;
    font-family: "Inter", sans-serif;
}

section.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px;
}

div.item img.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px #94e2cf;
    transition: all 0.3s ease-in-out;

}

div.item img.image:hover {
    transform: scale(1.01);
}

div.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #929BEB;
    transition: all 0.3s ease-in-out;
}

div.item:hover {
    transform: scale(1.01);
}

div.item h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #44C784;
}